<div style="margin-top:10px; ">
	<div style="width:150px;margin-left:10px;float:left; text-align:center;">
	    <a href="#/book/9780545368759"><img id="book1" alt="Sample 1" src="sample_1_tb.jpg" draggable="true" ondragstart="drag(event)" height="200"> </a><br/>
		<span id="span-9780545368759" style="color:white;font-size:small;">
		<button type="button" class="BtnDownload" id="9780545368759">Download</button>
		</span><br/>
		<button type="button" onclick="location.href='#/book/9780545368759'">Read</button>
	</div>

	<div style="width:130px; margin-left:10px;float:left;text-align:center;">
	    <a href="#/book/9780545367771"><img id="book2" alt="Sample 2" src="sample_2_tb.jpg" draggable="true" ondragstart="drag(event)" height="200"> </a><br/>
		<span id="span-9780545367771" style="color:white; font-size:small">
		<button type="button" class="BtnDownload" id="9780545367771">Download</button>
		</span><br/>
		<button type="button" onclick="location.href='#/book/9780545367771'">Read</button>
	</div>
	
	<div style="width:150px;margin-left:10px;float:left;text-align:center;">
	    <a href="#/book/9780545292757"><img id="book3" alt="Sample 3" src="sample_3_tb.jpg" draggable="true" ondragstart="drag(event)" height="200"> </a><br/>
		<span id="span-9780545292757" style="color:white">
		<button type="button" class="BtnDownload" id="9780545292757">Download</button>
		</span><br/>
		<button type="button" onclick="location.href='#/book/9780545292757'">Read</button>
	</div>
	
	<div style="width:150px;margin-left:10px;float:left;text-align:center;">
        <a href="#/book/9780545391832"><img id="book4" alt="Sample 4" src="sample_4_tb.jpg" draggable="true" ondragstart="drag(event)" height="200"> </a><br/>
	    <span id="span-9780545391832" style="color:white">
		<button type="button" class="BtnDownload" id="9780545391832">Download</button>
		</span><br/>
		<button type="button" onclick="location.href='#/book/9780545391832'">Read</button>
	</div>

	<div style="position:absolute; top:180px">
	<div id="progressbar-9780545368759" style="float:left;width:140px; height:10px; margin-left:15px"><div class="progress-label"></div></div>
	<div id="progressbar-9780545367771" style="float:left;width:120px; height:10px;margin-left:20px"><div class="progress-label"></div></div>
	<div id="progressbar-9780545292757" style="float:left;width:145px; height:10px;margin-left:15px"><div class="progress-label"></div></div>
	<div id="progressbar-9780545391832" style="float:left;width:140px; height:10px;margin-left:15px"><div class="progress-label"></div></div>
<div>



