<div style="display:none">
<audio id="passage-audio" class="passage" controls hidden>
  <source src="<%= filepath %>" type="audio/mp3">
  <source src="<%= filepathogg %>" type="audio/ogg">
  <em class="error"><strong>Error:</strong> Your browser doesn't appear to support HTML5 Audio.</em>
</audio>
<audio id="passage-audio-right" class="passage" controls hidden>
  <source src="<%= filepathright %>" type="audio/mp3">
  <source src="<%= filepathrightogg %>" type="audio/ogg">
  <em class="error"><strong>Error:</strong> Your browser doesn't appear to support HTML5 Audio.</em>
</audio>
</div>
