<div class="fixed-page-wrap" id="page-<%= pageId %>" >
  <div id="scholastic-book-frame-<%= pageId %>" class="scholastic-book-frame-wrapper <%= pageClass %>" style="width:<%= iframeWidth/2 %>px;height:<%= iframeHeight %>px;">
    <div class="layer-trick"></div>
    <div class ="side side-l" ></div>
    <div class ="side side-r" ></div>
    <div style="<%= style %>" width="<%= iframeWidth/2 %>" height="<%= iframeHeight %>" id="scholastic-book-page-<%= pageIndex %>" class="scholastic-book-page-iframe scholastic-book"><%= pageContent %></div>
  </div>
</div>